{% extends "base.html" %}
{% load static %}
{% block body %}

    {% if passwd %}

    <div class="card bg-light">
    <div class="card-header">VPN</div>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Status</th>
                <th scope="col">IP</th>
                <th scope="col">Downloads</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>{{passwd.name}}</td>
            <td></td>
            <td></td>
            <td>
            <a class="btn btn-success btn-sm" href="{% url "vpn_zip" %}">Zip</a>
            <a class="btn btn-success btn-sm" href="{% url "vpn_tblk" %}">Tunnelblick</a>
            </td>
            </tr>
            </tbody>
        </table>
        </p>
    </div>
    </div>

    {% else %}
    <p>Your account is not configured yet. Please click the button below to create a new enrollment.</p>
    <a class="btn btn-success" href="{% url "enroll" %}">Create enrollment</a> 
    {% endif %}
{% endblock %}
